* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: PingFangSC-Light, 微软雅黑;
}

body,
html {
  width: 1920px;
  height: 100%;
  color: #eee;
  /* overflow: hidden;*/
  background: url(../pictures/bg.png) no-repeat;
  /* background-color: #061f48; */
  background-size: 100% auto;
  scrollbar-width: none;
  /* firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
  overflow-x: hidden;
  overflow-y: auto;
}

/*各浏览器显示不同，去掉蓝色边框*/
fieldset,
img,
input,
button {
  border: none;
  padding: 0;
  margin: 0;
  outline-style: none;
}

img {
  border: 0;
  vertical-align: middle;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/*清除浮动*/
.clear-both:before,
.clear-both:after {
  display: table;
  content: "";
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
}

.clearfix {
  *zoom: 1;
  /*IE/7/6*/
}

body {
  background-color: #051840;
}

.skew-selected {
  background: linear-gradient(180deg, #08B9C1 -3%, #0758B8 100%);
}


.bottom-bd {
  border-bottom: 1px solid #ffffff30;
}

.skew-button {
  height: 40px;
  text-align: center;
  transform: skewX(-35deg);
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(40, 70, 104);

  div {
    font-size: 18px;
    color: white;
    transform: skewX(35deg);
    line-height: 40px;
  }
}

.skew-button:hover {
  background: linear-gradient(180deg, #08B9C1 -3%, #0758B8 100%);
  height: 40px;
  text-align: center;
  transform: skewX(-35deg);
  border-radius: 5px;
  cursor: pointer;

  div {
    font-size: 18px;
    color: white;
    transform: skewX(35deg);
  }
}

.right-title {
  background: url(../pictures/right_title_bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-left: 40px;
  line-height: 50px;
}

.left-title {
  background: url(../pictures/right_title_bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-left: 40px;
  line-height: 50px;
}