@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1727273997923') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guangfufadian:before {
  font-size: 40px;
  color: yellow;
  content: "\e600";
}

.icon-fengjilv:before {
  content: "\e602";
  font-size: 40px;
  color: aqua;
}

.icon-shandian:before {
  content: "\e60f";
}

.icon-zhongwuranjuece:before {
  font-size: 40px;
  color: #fff;
  content: "\e612";
}

.icon-xudianchizhengchang:before {
  font-size: 40px;
  color: greenyellow;
  content: "\e60d";
}

